.landing-banner {
  padding: 40px;
}

.banner-text {
  padding: 80px;
}

.banner-dashes {
  width: 80px;
}

.banner-bottom {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fav {
  font-size: 40px;
}

.enquiries {
  padding: 0px 40px 0px 40px;
}

.reward-tag {
  padding: -40px;
}

.banner-photo {
  height: 100%;
}

.banner > img {
  height: 100%;
  width: 100%;
}

.popular-shirts {
  padding: 80px;
}

.card {
  padding: 16px;
}

.country-leagues {
  padding: 80px;
}

.country-leagues-img > img {
  width: 100%;
}

.other-collections {
  padding: 80px;
}

.advert {
  padding: 80px;
}

@media screen and (max-width: 768px) {
  .landing-banner {
    padding: 0px;
  }

  .banner-text {
    padding: 24px;
  }

  .banner-bottom {
    padding: 16px;
  }

  .banner-dashes {
    width: 23px;
  }

  .fav {
    font-size: 20px;
  }

  .enquiries {
    padding: 16px;
  }

  .popular-shirts {
    padding: 16px;
  }

  .country-leagues {
    padding: 16px;
  }

  .other-collections {
    padding: 16px;
  }

  .advert {
    padding: 16px;
  }
}
