.centered {
  display: grid !important;
  place-content: center;
  align-content: center;
}

.landing-banner {
  padding: 40px;
}

.banner-background {
  padding: 80px 40px 40px 80px;
}

.banner-text {
  font-size: 40px;
}

.dash {
  width: 80px;
  height: 4px;
}
.enquiries {
  padding: 0px 40px 0px 40px;
}

.enquiry {
  padding: 16px;
}

.enquiry-icon {
  width: 30px;
  height: 30px !important;
  padding: 4px;
}

.enquiry-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #111112;
}

.enquiry-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #111112;
}

.reward-tag {
  padding: -40px;
}

.popular-shirts {
  padding: 80px;
}

.card {
  padding: 16px;
}

.country-leagues {
  padding: 80px;
}

.country-league-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.other-collections {
  padding: 80px;
}

.other-collections-text {
  font-size: 14px;
}

.advert {
  padding: 80px;
}

.advert-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

@media screen and (max-width: 768px) {
  .landing-banner {
    padding: 0px;
  }

  .banner-background {
    padding: 16px;
  }

  .dash {
    width: 20px;
    height: 4px;
  }

  .banner-text {
    font-size: 20px;
  }

  .banner-bottom {
    padding: 16px;
  }

  .fav {
    font-size: 20px;
  }

  .enquiries {
    padding: 16px;
  }

  .enquiry {
    padding: 12px;
  }

  .enquiry-icon {
    width: 21px;
    height: 21px !important;
    padding: 4px;
  }

  .enquiry-text {
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.04em;
    color: #111112;
  }

  .enquiry-desc {
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: -0.02em;
    color: #111112;
  }

  .popular-shirts {
    padding: 16px;
  }

  .country-leagues {
    padding: 16px;
  }

  .country-league-row {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .other-collections {
    padding: 16px;
  }

  .other-collections-text {
    font-size: 6px;
  }

  .advert {
    padding: 16px;
  }
}
